
<div id="Quiz">
    <div class="row">
        <div class="col-3">
            <label for="start">Start</label>
        </div>
        <div class="col-9">
            <div class="datetimepicker has">
                <input class="dp col-7 col-s-7" name="startDate" type="date" id="date" required>
                <span></span>
                <input class="tp col-5 col-s-5" name="startTime" type="time" id="time" required>
                <input type="hidden" name="start" value="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="end">End</label>
        </div>
        <div class="col-9">
            <div class="datetimepicker">
                <input class="dp col-7 col-s-7" name="endDate" type="date" id="date" required>
                <span></span>
                <input class="tp col-5 col-s-5" name="endTime" type="time" id="time" required>
                <input type="hidden" name="end" value="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="file">Question</label>
        </div>
        <div class="col-9">
            <label><input type="radio" name="questionType" value="Upload" required >Upload</label>
            <label><input type="radio" name="questionType" value="Manual" required >Manual</label>
        </div>
    </div>
    <div id="soal"></div>
</div>
<script>
    $(document).ready(function () {
        date = new Date();
        tgl = date.getFullYear() + '-' + ('0' + date.getMonth() + 2).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
        jam = ('0' + (date.getHours() + 1)).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2);
//        console.log(tgl);
//        console.log(jam);
        val = ((tgl + '-' + jam).replace(/:/g, '-')).split('-');
//        console.log(val);
        val = new Date(val[0], val[1] - 1, val[2], val[3], val[4]);
        $('.tp').val(jam);
        $('.dp').val(tgl);
        $('input[name=start]').val(val);
        $('input[name=end]').val(val);

//        $('input[type=time]').each(function () {
//            console.log($(this).val());
//        });

        $('.datetimepicker').each(function (n, dt) {
            $(this).find('.tp').change(function () {
                valTgl = $(dt).find('.dp').val();
                valJam = $(dt).find('.tp').val();
                pilih = ((valTgl + '-' + valJam).replace(/:/g, '-')).split('-');
//                console.log(pilih);
                pilih = new Date(pilih[0], pilih[1] - 1, pilih[2], pilih[3], pilih[4]);
//                console.log(pilih);
                date = new Date();
                tgl = date.getFullYear() + '-' + ('0' + date.getMonth() + 2).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
                jam = ('0' + (date.getHours() + 1)).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2);
                btBawah = ((tgl + '-' + jam).replace(/:/g, '-')).split('-');
//                console.log(btBawah);
                btBawah = new Date(btBawah[0], btBawah[1] - 1, btBawah[2], (btBawah[3]), btBawah[4]);
//                console.log(btBawah);

//                console.log($(dt).hasClass('has'));
                if ($(dt).hasClass('has')) {
                    if (pilih < btBawah) {
                        alert("Tanggal Melewati Batas Sekarang!");
                        $(dt).find('.dp').val(tgl);
                        $(dt).find('.tp').val(jam);
                    } else {
                        btBawah2 = pilih;
                        Tgl = $(dt).find('.dp').val();
                        Jam = $(dt).find('.tp').val();
                        $('input[name=start]').val(pilih);
                    }
                } else {
                    if (pilih < btBawah2) {
                        alert("Tanggal Melewati Batas Start!");
                        $(dt).find('.dp').val(Tgl);
                        $(dt).find('.tp').val(Jam);
                    } else {
                        $('input[name=end]').val(pilih);
                    }
                }
            });
        });

        $('input[name=questionType]').change(function () {
            val = $(this).val();
//            console.log(val);
            if (val === "Upload") {
                $('#dnd').removeClass('hidden');
                $('#tambah').addClass('hidden');
                $('#soal').html("");
            } else {
                soal = 0;
                console.log(soal);
                $('#dnd').addClass('hidden');
                $('#tambah').removeClass('hidden');
                $('#tambah').click();
            }
        });

        $('#tambah').click(function () {
            console.log(soal);
            $('#soal').append(`
        <div class="row">
            <div class="parent">
                <div>
                    <div class="col-3">
                        <label for="question">Question ` + (soal + 1) + `</label>
                    </div>
                    <div class="col-9">
                        <textarea class="question" name="question[]" style="resize: none" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="answer">Answer ` + (soal + 1) + `</label>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div  class="col-1 col-s-1">
                                <input class="rAnswer" type="radio" name="answer[` + soal + `][]" value="a">
                            </div>
                            <div  class="col-11 col-s-11">
                                <input class="tAnswer" type="text" name="text[` + soal + `][]">
                            </div>
                        </div>
                        <div class="row">
                            <div  class="col-1 col-s-1">
                                <input class="rAnswer" type="radio" name="answer[` + soal + `][]" value="b">
                            </div>
                            <div  class="col-11 col-s-11">
                                <input class="tAnswer" type="text" name="text[` + soal + `][]">
                            </div>
                        </div>
                        <div class="row">
                            <div  class="col-1 col-s-1">
                                <input class="rAnswer" type="radio" name="answer[` + soal + `][]" value="c">
                            </div>
                            <div  class="col-11 col-s-11">
                                <input class="tAnswer" type="text" name="text[` + soal + `][]">
                            </div>
                        </div>
                        <div class="row">
                            <div  class="col-1 col-s-1">
                                <input class="rAnswer" type="radio" name="answer[` + soal + `][]" value="d">
                            </div>
                            <div  class="col-11 col-s-11">
                                <input class="tAnswer" type="text" name="text[` + soal + `][]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>`);
            soal++;
            refresh();
        });
    });

    function refresh() {
        $('.question').each(function () {
            $(this).change(function () {
                value = $(this).val();
                console.log(value);
                console.log($(this).parents('.parent').find('input'));
                if ($.isEmptyObject(value)) {
                    $(this).parents('.parent').find('input').prop('required', false);
                } else
                    $(this).parents('.parent').find('input').prop('required', true);
            });
        });
    }

    function extValidation(elem) {
        name.match(/^(answer|question|text)(\[(\d)*\]){1,2}$/);
        if (name.match(/^(question)(\[(\d)*\])$/)) {
            kosong ? qStatus = false : qStatus = true;
        } else {
            if (qStatus) {
                if (kosong) {
                    pesan = formatting(name) + " Tidak Boleh Kosong";
                    alert(pesan);
                    $(elem).addClass('error');
                    $(elem).focus();
                    console.log($(elem).html());
                    return false;
                } else
                    return true;
            }
        }
    }
</script>