<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <script src="../assets/js/jquery.min.js"></script>
        <script>
            $(function () {
                $("head").load("template/Header.html");
            });
        </script>
    </head>
    <body>
        <div class="col-12 col-s-12" id="menu"></div>
        <div class="content">
            <div class="course col-12">
                <div class="content">
                    <div class="col-12">
                        <h1>Mathematics</h1>
                    </div>
                    <div class="content col-8 col-s-12">
                        <div class="border-thin-blue col-12 col-s-12">
                            <div id="pertemuan" class="content bd-bt">
                                <h2>Pertemuan 1</h2>
                                <div class="col-12">
                                    <a class="f-left t-center pd-t-16"><img src="../assets/img/powerpoint.png" width="24" height="24" alt="powerpoint"/></a>
                                    <h3 class="pd-l-16 bd-none f-left">Integral</h3>
                                </div>
                                <h2>Pertemuan 2</h2>
                                <div class="col-12">
                                    <a class="f-left t-center pd-t-16"><img src="../assets/img/powerpoint.png" width="24" height="24" alt="powerpoint"/></a>
                                    <h3 class="pd-l-16 bd-none f-left">Geometry</h3>
                                </div>
                                <h2>Pertemuan 3</h2>
                                <div class="col-12">
                                    <a class="f-left t-center pd-t-16"><img src="../assets/img/powerpoint.png" width="24" height="24" alt="powerpoint"/></a>
                                    <h3 class="pd-l-16 bd-none f-left">Trigonometry</h3>
                                </div>
                                <h2>Pertemuan 4</h2>
                                <h2>Pertemuan 5</h2>
                                <h2>Pertemuan 6</h2>
                                <h2>Pertemuan 7</h2>
                                <h2>Pertemuan 8</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content col-4">
                    <div class="content col-12 col-s-12 pd-t-0">
                        <div class="border-thin-blue col-12 col-s-12">
                            <div class="content bd-bt-t">
                                <h3><a href="Course.html" onclick="saveStorage('Course')">Mathematics</a></h3>
                                <h4>Participant</h4>
                                <h4>Badges</h4>
                                <h4>Competencies</h4>
                                <h4>Grades</h4>
                            </div>
                        </div>
                    </div>
                    <div class="content col-12 col-s-12 pd-t-0">
                        <div class="border-thin-blue col-12 col-s-12">
                            <div class="content bd-bt-t">
                                <h4><a href="Home.html" onclick="saveStorage('Home')">Home</a></h4>
                                <h4><a href="Calendar.html" onclick="saveStorage('Calendar')">Calendar</a></h4>
                                <h4>Private Files</h4>
                                <ul id="tree">
                                    <li><h4 class="caret">My Courses</h4>
                                        <ul class="nested">
                                            <li><div>
                                                    <h4><a href="Course.html" onclick="saveStorage('Course')">Mathematics</a></h4>
                                                    <h4>Physics</h4>
                                                    <h4>Biology</h4>
                                                    <h4>Chemistry</h4>
                                                    <h4>Art and Culture</h4>
                                                    <h4>Geography</h4>
                                                    <h4>Law</h4>
                                                    <h4>Indonesian Language</h4>
                                                    <h4>English</h4>
                                                    <h4>Religion</h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-s-12" id="footer"></div>
    </body>
</html>
