<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Login MELSA</title>
        <script src="../assets/js/jquery.min.js"></script>
        <script>
            $(function () {
                $("head").load("template/Header.html");
            });
        </script>
    </head>

    <body>
        <div>
            <div class="col-12 col-s-12" id="menu"></div>
            <div class="content">
                <div class="container col-12 col-s-12">
                    <form name="Login" action="Home.html">
                        <h1 class="t-center">Login MELSA</h1>
                        <div class="row">
                            <div class="col-3">
                                <label for="nis">NIS</label>
                            </div>
                            <div class="col-9">
                                <input type="text" name="nis" placeholder="Masukkan NIS" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="8" autofocus required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="pass">Password</label>
                            </div>
                            <div class="col-9">
                                <input type="password" name="password" placeholder="Masukkan Password" required>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" value="Login" name="btnLogin" onclick="saveStorage('Home')" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-s-12" id="footer"></div>
        </div>
