<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="../assets/js/jquery.min.js"></script>
        <script>
            $(function () {
                $("head").load("template/Header.html");
            });
        </script>
    </head>
    <body>
        <div class="col-12 col-s-12" id="menu"></div>
        <div class="content">
            <div class="content">

                <div id="Pass" class="overlay hidden">
                    <span class="closebtn" onclick="closePass()" title="Cancel">x</span>
                    <div class="overlay-content">
                        <form action="javascript:void(0)">
                            <input id="passw" type="password" placeholder="Password" name="pass" onfocus="this.value=''">
                            <input type="submit" value="Confirm" onclick="submitPass()">
                        </form>
                    </div>
                </div>

                <div class="container col-12 col-s-12">
                    <form id="form" name="profile" action="javascript:void(0)">
                        <h1 class="t-center">Your Profile</h1>
                        <div class="row">
                            <div class="col-3">
                                <label for="nama">Nama</label>
                            </div>
                            <div class="col-9">
                                <input id="nama" type="text" name="nama" placeholder="Masukkan Nama"  oninput="this.value=this.value.replace(/[^a-zA-Z' ]/g,'')" value="Compekiah Compek" autofocus disabled required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="nis">NIS</label>
                            </div>
                            <div class="col-9">
                                <label id="nis" for="nis">12341234</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="alamat">Alamat</label>
                            </div>
                            <div class="col-9">
                                <textarea id="alamat" name="alamat" rows="3" placeholder="Masukkan Alamat" disabled  required>Jl. Sriwijaya VIII / 2</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-9">
                                <input id="email" type="email" name="email" placeholder="Masukkan Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="compek@dr.com" disabled  required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="jk">Jenis Kelamin</label>
                            </div>
                            <div class="col-9">
                                <label id="jk" for="jk">Laki-Laki</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="jk">Pilih Foto Profil</label>
                            </div>
                            <div class="col-9">
                                <label class="pd-t-0 image"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="pass">Password</label>
                            </div>
                            <div class="col-9">
                                <input type="password" id="password" name="password" placeholder="Masukkan Password" value="1234" disabled  required>
                            </div>
                        </div>
                        <div id="hide" class="row hidden">
                            <div class="col-3">
                                <label for="vpass">Verify Password</label>
                            </div>
                            <div class="col-9">
                                <input type="password" id="vpassword" name="vpassword" placeholder="Masukkan Ulang Password" required>
                            </div>
                        </div>
                        <div class="row">
                            <input id="sbm" type="submit" value="Edit" name="edit/save" onclick="btnEdit()" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-s-12" id="footer"></div>
    </body>
</html>
