<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Register MELSA</title>
        <script src="../assets/js/jquery.min.js"></script>
        <script>
            $(function () {
                $("head").load("template/Header.html");
            });
        </script>
    </head>

    <body>
        <div>
            <div class="col-12 col-s-12" id="menu"></div>
            <div class="content">
                <div class="container col-12 col-s-12">
                    <form name="register" action="Login.html">
                        <h1 class="t-center">Register MELSA</h1>
                        <div class="row">
                            <div class="col-3">
                                <label for="nama">Nama</label>
                            </div>
                            <div class="col-9">
                                <input type="text" name="nama" placeholder="Masukkan Nama"  oninput="this.value=this.value.replace(/[^a-zA-Z' ]/g,'')" autofocus required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="nama">NIS</label>
                            </div>
                            <div class="col-9">
                                <input type="text" name="nis" placeholder="Masukkan NIS" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="8" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="alamat">Alamat</label>
                            </div>
                            <div class="col-9">
                                <textarea style="resize: none" name="alamat" rows="3" placeholder="Masukkan Alamat" required></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-9">
                                <input type="email" name="email" placeholder="Masukkan Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="pass">Password</label>
                            </div>
                            <div class="col-9">
                                <input type="password" name="password" placeholder="Masukkan Password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="jk">Jenis Kelamin</label>
                            </div>
                            <div class="col-9">
                                <label><input type="radio" name="gender" value="Laki-laki" required >Laki-laki</label>
                                <label><input type="radio" name="gender" value="Perempuan" required >Perempuan</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="jk">Pilih Foto Profil</label>
                            </div>
                            <div class="col-9">
                                <label class="pd-t-0 image"></label>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" value="Register" name="btnRegister" onclick="saveStorage('Login')" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-s-12" id="footer"></div>
        </div>
