<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
    var path = window.location.pathname;
    var page = path.split("/").pop();

    if (page == "Login.html" || page == "Register.html") {
        $(function () {
            $("#menu").load("template/MenuLogin.html");
        });
    } else {
        $(function () {
            $("#menu").load("template/Menu.html");
        });
    }
    $(function () {
        $("#footer").load("template/Footer.html");
    });

</script>
<link type="text/css" href="../assets/css/css.css" rel="stylesheet">
<link href="../assets/css/all.css" rel="stylesheet">
<link type="text/css" href="../assets/css/calendar.css" rel="stylesheet">
<script src="../assets/js/all.js" type="text/javascript"></script>
