<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="header col-12 col-s-12">
    <div class="logo">
        <img src="../assets/img/logo.png" alt="melsa">
    </div>
    <p>Media Pembelajaran SMASA</p>
</div>

<div id="navbar" class="col-12 col-s-12">
    <ul class="right col-4 col-s-4">
        <li class="col-6 col-s-6"><a class="col-12 Login" href="Login.html" onclick="saveStorage('Login')">Login</a></li>
        <li class="col-6 col-s-6"><a class="col-12 Register" href="Register.html" onclick="saveStorage('Register')">Register</a></li>
    </ul>
</div>