<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <script src="../assets/js/jquery.min.js"></script>
        <script>
            $(function () {
                $("head").load("template/Header.html");
            });
        </script>
    </head>
    
    <body>
        <div>
            <div class="col-12 col-s-12" id="menu"></div>
            <div class="content">
                
            </div>
        </div>
        <div class="col-12 col-s-12" id="footer"></div>
    </body>
</html>
